@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Poppins', sans-serif;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr;
  height: 100vh; }
  body aside {
    padding: 30px;
    background-color: #FFA500; }
    body aside .nav {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      body aside .nav .logo-link .nav-logo {
        height: 40px; }
      body aside .nav .carrito {
        display: flex;
        align-items: center;
        text-decoration: none; }
        body aside .nav .carrito .bx-cart-alt {
          color: #808080;
          font-size: 30px; }
        body aside .nav .carrito .carrito-numero {
          color: #FFA500;
          margin-left: 5px;
          font-size: 15px;
          font-weight: 600;
          background-color: #808080;
          padding: 5px;
          border-radius: 50%;
          width: 30px;
          text-align: center; }
  body main {
    background-color: #808080;
    overflow-y: scroll;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (max-width: 768px) {
      body main {
        padding: 5px; } }
    body main .buscar-producto {
      margin-top: 15px;
      padding: 20px;
      display: flex;
      justify-content: center; }
      body main .buscar-producto .contenedor-buscar-input {
        display: flex;
        justify-content: center;
        border-radius: 20px;
        background-color: #fff;
        width: 600px; }
        @media (max-width: 768px) {
          body main .buscar-producto .contenedor-buscar-input {
            width: 100%; } }
        body main .buscar-producto .contenedor-buscar-input .buscar-input {
          padding: 20px;
          width: 100%;
          border: none;
          outline: none;
          border-radius: 20px;
          font-size: 15px;
          font-family: 'Poppins', sans-serif; }
        body main .buscar-producto .contenedor-buscar-input .buscar-boton {
          background-color: #FFA500;
          border: none;
          outline: none;
          border-radius: 0px 20px 20px 0px;
          padding: 10px;
          font-size: 15px;
          color: #fff;
          font-family: 'Poppins', sans-serif;
          font-weight: 600;
          transition: background-color, 200ms;
          cursor: pointer; }
          body main .buscar-producto .contenedor-buscar-input .buscar-boton:hover {
            background-color: #f7b945; }
    body main .productos-contenedor {
      background-color: #fff;
      display: flex;
      flex-wrap: wrap;
      border-radius: 20px;
      justify-content: center; }
      body main .productos-contenedor .producto {
        width: 250px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        border-radius: 25px;
        margin: 15px;
        border: 1px solid #FFA500;
        justify-content: flex-end;
        flex-grow: 0.1; }
        body main .productos-contenedor .producto .producto-imagen {
          width: 100%; }
        body main .productos-contenedor .producto .producto-info {
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: #FFA500;
          padding: 10px;
          width: 100%;
          margin-top: 10px;
          border-radius: 20px;
          color: #fff; }
          body main .productos-contenedor .producto .producto-info .producto-nombre {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 10px;
            text-align: center; }
          body main .productos-contenedor .producto .producto-info .producto-precio {
            font-size: 18px; }
          body main .productos-contenedor .producto .producto-info .boton-agregar {
            width: 100%;
            margin-top: 10px;
            border: none;
            outline: none;
            font-family: 'Poppins', sans-serif;
            font-size: 15px;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border-radius: 40px;
            color: #FFA500; }
            body main .productos-contenedor .producto .producto-info .boton-agregar .bx-cart-alt {
              display: none;
              margin-right: 5px; }
            body main .productos-contenedor .producto .producto-info .boton-agregar:hover .bx-cart-alt {
              display: inline; }
    body main .carrito {
      background-color: #fff;
      padding: 20px;
      border-radius: 20px;
      width: 100%; }
      @media (max-width: 768px) {
        body main .carrito {
          padding: 10px; } }
      body main .carrito .carrito-productos .carrito-item {
        display: flex;
        flex-direction: row;
        background-color: #FFA500;
        padding: 15px;
        border-radius: 20px;
        align-items: center;
        margin-top: 15px;
        justify-content: space-between;
        width: 600px; }
        @media (max-width: 768px) {
          body main .carrito .carrito-productos .carrito-item {
            width: 100%; } }
        body main .carrito .carrito-productos .carrito-item .carrito-item-img {
          height: 50px;
          border-radius: 10px; }
        body main .carrito .carrito-productos .carrito-item .carrito-item-section {
          display: flex;
          flex-direction: column; }
          body main .carrito .carrito-productos .carrito-item .carrito-item-section .section-title {
            font-size: 13px; }
        body main .carrito .carrito-productos .carrito-item .boton-eliminar {
          color: #ff0000;
          cursor: pointer; }
      body main .carrito .botones-carrito-contenedor {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        width: 500px;
        justify-content: space-between;
        width: 600px; }
        @media (max-width: 768px) {
          body main .carrito .botones-carrito-contenedor {
            width: 100%; } }
        body main .carrito .botones-carrito-contenedor .vaciar-carrito, body main .carrito .botones-carrito-contenedor .comprar-contenedor .boton-comprar {
          padding: 15px;
          border: none;
          background-color: #FFA500;
          border-radius: 30px;
          font-family: 'Poppins', sans-serif;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          background-color: transparent;
          border: 1px solid #FFA500;
          transition: background-color 200ms;
          cursor: pointer;
          width: fit-content;
          height: fit-content; }
          body main .carrito .botones-carrito-contenedor .vaciar-carrito:hover, body main .carrito .botones-carrito-contenedor .comprar-contenedor .boton-comprar:hover {
            background-color: #FFA500;
            color: #fff; }
          body main .carrito .botones-carrito-contenedor .vaciar-carrito .bxs-trash, body main .carrito .botones-carrito-contenedor .comprar-contenedor .boton-comprar .bxs-trash {
            margin-right: 5px; }
        body main .carrito .botones-carrito-contenedor .comprar-contenedor {
          display: flex;
          align-items: center;
          margin-top: 20px;
          flex-direction: column;
          order: 2; }
          @media (max-width: 768px) {
            body main .carrito .botones-carrito-contenedor .comprar-contenedor {
              flex-direction: column; } }
          body main .carrito .botones-carrito-contenedor .comprar-contenedor .total-carrito {
            font-weight: 600;
            text-transform: uppercase; }
          body main .carrito .botones-carrito-contenedor .comprar-contenedor .boton-comprar {
            background-color: #FFA500;
            border: none;
            margin-top: 20px; }
            body main .carrito .botones-carrito-contenedor .comprar-contenedor .boton-comprar .bxs-shopping-bag {
              margin-right: 5px; }
      body main .carrito .oculto {
        display: none; }
    body main .seccion-titulo {
      padding: 10px;
      background-color: #FFA500;
      margin-bottom: 10px;
      text-align: center;
      width: fit-content;
      border-radius: 20px;
      font-size: 18px;
      color: #fff; }
